<% if flash[:notice] %> 
  <%= flash[:notice] %> 
<% end %>
<h1>Please introduce the search term:</h1>
<%= form_tag '/movies/show_search_results' do %>
  <%=text_field_tag 'search'%>
  <%= submit_tag 'Search' %>
<% end %>